<div class="dialog-container">
    
    <p class="title">{{ labels.bankAccounts.dialog.title }}</p>
    <p>{{ labels.bankAccounts.dialog.name }}</p>

    <p class="invalid-input-message" *ngIf="!isInputValid">{{ labels.bankAccounts.dialog.invalid_input }}</p>
    <input type="text" 
        [(ngModel)]="newBankAccountName" 
        [ngClass]="{'invalid-input': !isInputValid, 'valid-input': isInputValid}"
        (input)="validateInput()" >

    <div class="buttons_container">
        <button class="button" (click)="confirm()">{{ labels.bankAccounts.dialog.confirm }}</button>
        <button class="button" (click)="cancel()">{{ labels.bankAccounts.dialog.cancel }}</button>
    </div>

</div>
