<div class="container">

    <div style="display: flex;">

        <p class="title">{{ labels.bankAccounts.title }}</p>
        
        <!-- dialog aggiunta bank account -->
        <button class="add_bank_account" (click)="openBankAccountDialog()">{{ labels.bankAccounts.addBankAccount }}</button>
        <div class="dialog-overlay" *ngIf="isAddDialogOpen">
            <app-bank-account-dialog
                *ngIf="isAddDialogOpen"
                (confirmClicked)="onSaveBankAccount($event)"
                (cancelClicked)="onCancelBankAccount()"
            ></app-bank-account-dialog>
        </div>

    </div>
    
    <!-- div con il totale -->

    <div class="total_div align-text-center">

        <p class="total_size">{{ labels.bankAccounts.total }}</p>
        <p class="balance_size">{{ totalBalance }}€</p>

    </div>

    <!-- div con i conti -->

    <div class="bank_accounts_div">
        <div *ngFor="let account of bankAccounts" class="bank_account_div">

            <div class="account_name">
                <p class="bank_account_text">{{ account.name }}</p>
            </div>

            <div class="account_balance">
                <p class="bank_account_balance">{{ account.balance }}€</p>
            </div>

            <div class="delete_account">
                <button class="delete_bank_account" (click)="openConfirmDialog(account)">{{ labels.bankAccounts.deleteBankAccount }}</button>
                <div class="dialog-overlay" *ngIf="isConfirmDialogOpen">
                    <app-confirm-dialog
                        *ngIf="isConfirmDialogOpen"
                        (confirmClicked)="onDeleteBankAccount()"
                        (cancelClicked)="onCancelDelete()"
                    ></app-confirm-dialog>
                </div>
            </div>

        </div>
    </div>

</div>