/* ----------------------------------------------------------------
GLOBAL STYLE
---------------------------------------------------------------- */

$background-theme-dark: #222222;
$text-color-light: #fff;

body {
    background-color: $background-theme-dark;
    color: $text-color-light;
}