/* ----------------------------------------------------------------
GLOBAL STYLE
---------------------------------------------------------------- */

$background-theme-dark: #222222;
$text-color-light: #fff;
$divider-color: #9c9c9c;

$margin-container-200: 200px;

body {
    background-color: $background-theme-dark;
    color: $text-color-light;
    font-family: 'Domine';
}

.align-text-center {
    text-align: center;
}

.align-item-center {
    align-self: center;
}

.divider {
    width: 80%; 
    height: 2px; 
    background-color: $divider-color; 
    margin: 0 auto; 
    margin-bottom: 10px;
}

@font-face {
    font-family: 'Domine';
    src: url('./assets/fonts/domine/static/Domine-Regular.ttf') format('truetype');
}