/* ----------------------------------------------------------------
HOME STYLE
---------------------------------------------------------------- */

.container {
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}

.title {
    font-size: 45pt;
    margin-bottom: 20px;
}

.text {
    font-size: 20pt;
    text-align: start;
}

.row-line {
    display: flex;
    justify-content: space-between;
}

.row-entity {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

/** serve per allineare l'icona al nome */
.row-entity-2 {
    display: inline-flex;
    margin-inline: 100px;
}

.icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}