<div class="container align-text-center">

    <p class="title">BALANCE APP</p>

    <div class="divider"></div>

    <div class="row-line text">

        <div class="row-entity row-entity-2">
            <img class="icon" src="assets/icons/money-bag.png" alt="Bank Account Icon">
            <p>BANK ACCOUNT</p>
        </div>

        <div class="row-entity row-entity-2">
            <p>MY ACCOUNT</p>
            <img class="icon" src="assets/icons/user.png" alt="User Icon">
        </div>

    </div>

    <div class="row-line text">

        <div class="row-entity row-entity-2">
            <img class="icon" src="assets/icons/menu.png" alt="Categories Icon">
            <p>CATEGORIES</p>
        </div>

        <div class="row-entity row-entity-2">
            <p>SETTINGS</p>
            <img class="icon" src="assets/icons/settings.png" alt="Settings Icon">
        </div>

    </div>

    <div class="row-line text">

        <div class="row-entity row-entity-2">
            <img class="icon" src="assets/icons/bar-chart.png" alt="Transactions Icon">
            <p>TRANSACTIONS</p>
        </div>

    </div>

</div>