<div class="container align-text-center">

    <p class="title">{{ labels.appTitle }}</p>

    <div class="divider"></div>

    <div class="row-line text">

        <div class="row-entity row-entity-2">
            <img class="icon" src="assets/icons/money-bag.png" alt="Bank Account Icon">
            <p [routerLink]="['/bankAccounts']">{{ labels.home.bankAccount }}</p>
        </div>

        <div class="row-entity row-entity-2">
            <p>{{ labels.home.myAccount }}</p>
            <img class="icon" src="assets/icons/user.png" alt="User Icon">
        </div>

    </div>

    <div class="row-line text">

        <div class="row-entity row-entity-2">
            <img class="icon" src="assets/icons/menu.png" alt="Categories Icon">
            <p>{{ labels.home.categories }}</p>
        </div>

        <div class="row-entity row-entity-2">
            <p>{{ labels.home.settings }}</p>
            <img class="icon" src="assets/icons/settings.png" alt="Settings Icon">
        </div>

    </div>

    <div class="row-line text">

        <div class="row-entity row-entity-2">
            <img class="icon" src="assets/icons/bar-chart.png" alt="Transactions Icon">
            <p>{{ labels.home.transactions }}</p>
        </div>

    </div>

</div>